<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
      type="org.apache.catalina.UserDatabase"
      description="User database that can be updated and saved"
      factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
      pathname="conf/tomcat-users.xml" />

<!--	  
	<Resource name="jdbc/dataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL_WSR" 
              password="ERZL_WSR" 
              url="jdbc:oracle:thin:@172.29.4.22:1521:ERZL" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	  
	<Resource name="jdbc/updateDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL_WS" 
              password="ERZL_WS" 
              url="jdbc:oracle:thin:@172.29.4.22:1521:ERZL" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	  

	<Resource name="jdbc/pmpProdDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="pmp_prod" 
              password="manager" 
              url="jdbc:oracle:thin:@172.29.4.25:1521:ERZ" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	  

	<Resource name="jdbc/helpDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL" 
              password="ERZL" 
              url="jdbc:oracle:thin:@172.29.4.22:1521:ERZL" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />
			  
	<Resource name="jdbc/authDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL_AUTH" 
              password="ERZL_AUTH" 
              url="jdbc:oracle:thin:@172.29.4.22:1521:ERZL" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	
-->			  
<!--			  
	<Resource name="jdbc/dataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL_WSR" 
              password="ERZL_WSR" 
              url="jdbc:oracle:thin:@192.168.193.20:1521/ERZLTST" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	  
			  
	<Resource name="jdbc/updateDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL_WS" 
              password="ERZL_WS" 
              url="jdbc:oracle:thin:@192.168.193.20:1521/ERZLTST" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	  

	<Resource name="jdbc/pmpProdDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="PMP_PROD" 
              password="PMP_PROD" 
              url="jdbc:oracle:thin:@192.168.193.20:1521/PUMPTST" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	  

	<Resource name="jdbc/helpDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL" 
              password="ERZL" 
              url="jdbc:oracle:thin:@192.168.193.20:1521/ERZLTST" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />
			  
	<Resource name="jdbc/authDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL_AUTH" 
              password="ERZL_AUTH" 
              url="jdbc:oracle:thin:@192.168.193.20:1521/ERZLTST" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	
	<Resource name="jdbc/dataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL_WSR" 
              password="ERZL_WSR" 
              url="jdbc:oracle:thin:@192.168.194.115:1528/ERZL" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	  
	<Resource name="jdbc/updateDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL_WS" 
              password="ERZL_WS" 
              url="jdbc:oracle:thin:@192.168.194.115:1528/ERZL" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	  

	<Resource name="jdbc/pmpProdDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="PMP_PROD" 
              password="PMP_PROD" 
              url="jdbc:oracle:thin:@192.168.194.115:1528/PUMP" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	  

	<Resource name="jdbc/helpDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="PMP_PROD" 
              password="PMP_PROD" 
              url="jdbc:oracle:thin:@192.168.194.115:1528/PUMP" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />
			  
	<Resource name="jdbc/authDataSource" 
              auth="Container" 
              type="javax.sql.DataSource" 
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
              username="ERZL_AUTH" 
              password="ERZL_AUTH" 
              url="jdbc:oracle:thin:@192.168.194.115:1528/ERZL" 
              driverClassName="oracle.jdbc.driver.OracleDriver" 
              initialSize="1" 
              maxWaitMillis="15000" 
              maxTotal="3" 
              maxIdle="1" 
              maxAge="7200000" 
              testOnBorrow="true" 
              validationQuery="select 1 from dual" 
              />	
	-->		  
    </GlobalNamingResources>
    <Service name="Catalina">
      <Connector port="8080"  protocol="HTTP/1.1"
       connectionTimeout="20000"
       URIEncoding="UTF-8"
       redirectPort="8443" />
       <Engine name="Catalina" defaultHost="localhost">
         <Realm className="org.apache.catalina.realm.LockOutRealm">
           <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>
           </Realm>
           <Host name="localhost"  appBase="webapps"
            unpackWARs="false" autoDeploy="true" deployOnStartup="true"  startStopThreads="4">
            <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
             prefix="localhost_access_log" suffix=".txt"
             pattern="%h %l %u %t &quot;%r&quot; %s %b" />
             <Context docBase="../modules/scans/images" path="/images" />
           </Host>
         </Engine>
       </Service>
     </Server>
